.counter-container {
    width: 80%;
    margin: auto;
    text-align: center;

    .counter-value {
        font-size: 32px;
        font-weight: bolder;
    }

    .increment-button, .decrement-button {
        width: 200px;
        margin: 20px;
        height: 50px;
        font-size: 24px;
        background-color: black;
        color:white;

        &:hover {
            background-color: white;
            color: black;
        }
    }

}